.Taskdiv {
  margin-left: 40%;
  margin-top: 2%;
}
.submit-btn {
  margin-left: 1%;
}

.delete-btn {
  margin-left: 5%;
  margin-top: 1%;
}

.update-btn {
  margin-left: 1%;
  margin-top: 1%;
}

.tasktable {
}
.taskName {
  justify-content: center;
  min-width: 20px;
}

.taskstatus {
  justify-content: space-between;
}

.Imagecard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2%;
}
.image {
  flex: 80%;
  max-width: 20%;
}
.imgbutton {
  flex: 10%;
  max-width: 3%;
}

.updateform {
  margin-top: 2%;
  box-shadow: 25px;
}
